@import '../styles/variables.css'; /* Adjust the path based on your folder structure */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--black);
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: linear-gradient(-30deg, #c9ffc9, #ffffff);
  border: 1px solid var(--gray-light);
  border-radius: var(--border-radius-md);
  width: 100%;
  max-width: 400px;
  min-height: 500px; /* Ensures the height is consistent */
}

.formContainer h1 {
  color: #28a745; /* Register-specific color */
  opacity: 0.6;
  margin: 0 auto;
}

.formContainer h2 {
  color: #28a745; /* Register-specific color */
  opacity: 0.4;
  margin: 0 auto;
}

.registerForm {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
}

.inputContainer {
  padding: 10px 40px 10px 10px;
  font-size: var(--font-size-md);
  border: 1px solid var(--gray);
  border-radius: var(--border-radius-sm);
  outline: none;
  transition: border-color var(--transition-speed);
  width: 100%;
  box-sizing: border-box;
}

.inputContainer:focus {
  border-color: #28a745; /* Register-specific focus color */
}

.passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.eyeIcon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: var(--icon-color);
  transition: color var(--transition-speed);
}

.eyeIcon:hover {
  color: #28a745; /* Register-specific hover color */
}

.submitButton {
  padding: 10px;
  background: #28a745; /* Register-specific button color */
  color: var(--white);
  border: none;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: background var(--transition-speed);
}

.submitButton:hover {
  background: #218838; /* Register-specific hover color */
}

.errorMessage {
  color: #d9534f; /* Register-specific error color */
  font-size: var(--font-size-lg);
  margin-top: var(--spacing-sm);
}

.registerTitle {
  margin-top: var(--spacing-lg);
  font-size: var(--font-size-lg);
  color: #555; /* Register-specific color */
  text-align: center;
}

.linkLogin {
  color: #007bff; /* Register-specific link color */
  text-decoration: none;
  margin-left: var(--spacing-xs);
  transition: color var(--transition-speed);
}

.linkLogin:hover {
  color: #0056b3; /* Register-specific hover color */
}
